
* {
    margin: 0;
    box-sizing: border-box;
   

}   
body{
	text-align: center;
	 font-family: 'Proza Libre', sans-serif;
}


.contenedor {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  font-weight: bold;
  
}
.contenedor p{
	font-size: 1.2em;
	
}

.principal {
	
	
	position: relative;
	background-size: cover;
	    display: flex;
    height: 580px;
}
.principal img{
	object-fit: cover;
	 width:100%;
    height: 580px;
	 filter: brightness(44%);
	-webkit-filter: brightness(44%);
	-moz-filter: brightness(44%);
   


  
  

	
}
.logo{
	text-align: center;

}

.galeria{
	background-image: url("img/hojas.png");
	
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .container{
    max-width: 80%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.titulo{
	padding-top: 2em;
	font-size: 1.5em;
	color:#7a7a7a;
	text-align: center;
}
	

#navbar {
    overflow: hidden;
    background-color: #6fa36e;
     position: -webkit-sticky;
  position: sticky;
  
}

#navbar a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
   transition: transform .2s; 

}

#navbar a:hover {
  transform: scale(1.3); 
  color: #194219;

}

#navbar a.active {
   
    color: white;
    border-radius: 10px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



.contacto {
    color: #7a7a7a;
    background-color: #1f3c0a;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background: linear-gradient( rgba(92, 150, 5, 0.72), rgba(92, 150, 5, 0.65) ), url(img/fondoc.jpg);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
 
 
  padding: 20px;
 width:80%;
   display: inline-block;
   text-align:left;
   background:white;
   
  -webkit-box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.75);


}

.container h2{
	text-align: center;
	font-size: 2em;

}


footer {
  background-color: #000000b3;
  color: white;
  

}
footer i{
	font-size: 2em;
	text-align: center;
	padding-bottom: 0.5em;
	
}
footer p{
	padding-bottom: 2em;
}
.copy{
	float:left;
	padding-top: 2em;
  display: inline-block;
	padding-left: 2em;

}

.mail{
	
	float:center;
	padding-top: 2em;
	text-align: center;
  display: inline-block;


}
.phone{
	
	float:right;
	padding-top: 2em;
	padding-right: 2em;
  display: inline-block;
	
}

.modal {
z-index:1;
display:none;
padding-top:10px;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgb(0,0,0);
background-color:rgba(0,0,0,0.8)
}

.modal-content{
margin: auto;
display: block;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-hover-opacity {
opacity:1;
filter:alpha(opacity=100);
-webkit-backface-visibility:hidden
}

.modal-hover-opacity:hover {
opacity:0.60;
filter:alpha(opacity=60);
-webkit-backface-visibility:hidden
}


.close {
text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}

.modal-content, #caption {   
  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


